
COMP9517_LABS/COMP9517_Lab_01/.nonadmin
COMP9517_LABS/COMP9517_Lab_01/*.dll
COMP9517_LABS/COMP9517_Lab_01/bin/
COMP9517_LABS/COMP9517_Lab_01/conda-meta/
COMP9517_LABS/COMP9517_Lab_01/DLLs/
COMP9517_LABS/COMP9517_Lab_01/include/
COMP9517_LABS/COMP9517_Lab_01/Lib/
COMP9517_LABS/COMP9517_Lab_01/Library/
COMP9517_LABS/COMP9517_Lab_01/libs/
COMP9517_LABS/COMP9517_Lab_01/Scripts/
COMP9517_LABS/COMP9517_Lab_01/share/
COMP9517_LABS/COMP9517_Lab_01/Shared Libraries/
COMP9517_LABS/COMP9517_Lab_01/sip/
COMP9517_LABS/COMP9517_Lab_01/tcl/
COMP9517_LABS/COMP9517_Lab_01/Tools/
COMP9517_LABS/COMP9517_Lab_01/.nonadmin/
COMP9517_LABS/COMP9517_Lab_01/LICENSE_PYTHON.txt
COMP9517_LABS/COMP9517_Lab_01/python.exe
COMP9517_LABS/COMP9517_Lab_01/python.pdb
COMP9517_LABS/COMP9517_Lab_01/python39.pdb
COMP9517_LABS/COMP9517_Lab_01/pythonw.exe
COMP9517_LABS/COMP9517_Lab_01/pythonw.pdb
COMP9517_LABS/COMP9517_Lab_01/venvlauncher.exe
COMP9517_LABS/COMP9517_Lab_01/venvwlauncher.exe
COMP9517_LABS/COMP9517_Lab_01/qt.conf
COMP9517_LABS/COMP9517_Lab_01/.ipynb_checkpoints/Lab2-checkpoint.ipynb
COMP9517_LABS/COMP9517_Lab_01/Lab2.zip
COMP9517_LABS/COMP9517_Lab_01/Menu/jupyter.ico
COMP9517_LABS/COMP9517_Lab_01/Menu/notebook.json
