
COMP9517_LABS/COMP9517_Lab_01/.nonadmin
COMP9517_LABS/COMP9517_Lab_01/*.dll
COMP9517_LABS/COMP9517_Lab_01/bin/
COMP9517_LABS/COMP9517_Lab_01/conda-meta/
COMP9517_LABS/COMP9517_Lab_01/DLLs/
COMP9517_LABS/COMP9517_Lab_01/include/
COMP9517_LABS/COMP9517_Lab_01/Lib/
COMP9517_LABS/COMP9517_Lab_01/Library/
COMP9517_LABS/COMP9517_Lab_01/libs/
COMP9517_LABS/COMP9517_Lab_01/Scripts/
COMP9517_LABS/COMP9517_Lab_01/share/
COMP9517_LABS/COMP9517_Lab_01/Shared Libraries/
COMP9517_LABS/COMP9517_Lab_01/sip/
COMP9517_LABS/COMP9517_Lab_01/tcl/
COMP9517_LABS/COMP9517_Lab_01/Tools/
COMP9517_LABS/COMP9517_Lab_01/.nonadmin/
COMP9517_LABS/COMP9517_Lab_01/LICENSE_PYTHON.txt
COMP9517_LABS/COMP9517_Lab_01/python.exe
COMP9517_LABS/COMP9517_Lab_01/python.pdb
COMP9517_LABS/COMP9517_Lab_01/python39.pdb
COMP9517_LABS/COMP9517_Lab_01/pythonw.exe
COMP9517_LABS/COMP9517_Lab_01/pythonw.pdb
COMP9517_LABS/COMP9517_Lab_01/venvlauncher.exe
COMP9517_LABS/COMP9517_Lab_01/venvwlauncher.exe
COMP9517_LABS/COMP9517_Lab_01/qt.conf
COMP9517_LABS/COMP9517_Lab_01/.ipynb_checkpoints/Lab2-checkpoint.ipynb
COMP9517_LABS/COMP9517_Lab_01/Lab2.zip
COMP9517_LABS/COMP9517_Lab_01/Menu/jupyter.ico
COMP9517_LABS/COMP9517_Lab_01/Menu/notebook.json
COMP9517_LABS/COMP9517_Lab_01/.ipynb_checkpoints/COMP9517_Lab_1-checkpoint.ipynb
COMP9517_LABS/COMP9517_Lab_02/.nonadmin
COMP9517_LABS/COMP9517_Lab_02/*.dll
COMP9517_LABS/COMP9517_Lab_02/conda-meta/
COMP9517_LABS/COMP9517_Lab_02/DLLs/
COMP9517_LABS/COMP9517_Lab_02/include/
COMP9517_LABS/COMP9517_Lab_02/Lib
COMP9517_LABS/COMP9517_Lab_02/Library
COMP9517_LABS/COMP9517_Lab_02/libs/
COMP9517_LABS/COMP9517_Lab_02/Menu/
COMP9517_LABS/COMP9517_Lab_02/Scripts/
COMP9517_LABS/COMP9517_Lab_02/share/
COMP9517_LABS/COMP9517_Lab_02/tcl/
COMP9517_LABS/COMP9517_Lab_02/Tools/
COMP9517_LABS/COMP9517_Lab_02/LICENSE_PYTHON.txt
COMP9517_LABS/COMP9517_Lab_02/python.exe
COMP9517_LABS/COMP9517_Lab_02/python.pdb
COMP9517_LABS/COMP9517_Lab_02/python37.pdb
COMP9517_LABS/COMP9517_Lab_02/pythonw.exe
COMP9517_LABS/COMP9517_Lab_02/pythonw.pdb
COMP9517_LABS/COMP9517_Lab_02/venvlauncher.exe
COMP9517_LABS/COMP9517_Lab_02/venvwlauncher.exe
COMP9517_LABS/COMP9517_Lab_02/z5235652_Lab2.zip
COMP9517_LABS/COMP9517_Lab_02/.ipynb_checkpoints/
COMP9517_LABS/COMP9517_Lab_02/0.png
COMP9517_LABS/COMP9517_Lab_02/60.png
COMP9517_LABS/COMP9517_Lab_02/120.png
COMP9517_LABS/COMP9517_Lab_02/Task 1.png
COMP9517_LABS/COMP9517_Lab_03/.nonadmin
COMP9517_LABS/COMP9517_Lab_03/*.dll
COMP9517_LABS/COMP9517_Lab_03/conda-meta/
COMP9517_LABS/COMP9517_Lab_03/DLLs/
COMP9517_LABS/COMP9517_Lab_03/include/
COMP9517_LABS/COMP9517_Lab_03/Lib
COMP9517_LABS/COMP9517_Lab_03/Library
COMP9517_LABS/COMP9517_Lab_03/libs/
COMP9517_LABS/COMP9517_Lab_03/Menu/
COMP9517_LABS/COMP9517_Lab_03/Scripts/
COMP9517_LABS/COMP9517_Lab_03/share/
COMP9517_LABS/COMP9517_Lab_03/tcl/
COMP9517_LABS/COMP9517_Lab_03/Tools/
COMP9517_LABS/COMP9517_Lab_03/LICENSE_PYTHON.txt
COMP9517_LABS/COMP9517_Lab_03/python.exe
COMP9517_LABS/COMP9517_Lab_03/python.pdb
COMP9517_LABS/COMP9517_Lab_03/python37.pdb
COMP9517_LABS/COMP9517_Lab_03/pythonw.exe
COMP9517_LABS/COMP9517_Lab_03/pythonw.pdb
COMP9517_LABS/COMP9517_Lab_03/venvlauncher.exe
COMP9517_LABS/COMP9517_Lab_03/venvwlauncher.exe
COMP9517_LABS/COMP9517_Lab_03/.ipynb_checkpoints/
COMP9517_LABS/COMP9517_Lab_03/COMP9517_Lab3_z5235652.zip
COMP9517_LABS/COMP9517_Lab_03/qt.conf
COMP9517_LABS/COMP9517_Lab_03/sip/
COMP9517_LABS/COMP9517_Lab_04/.nonadmin
COMP9517_LABS/COMP9517_Lab_04/*.dll
COMP9517_LABS/COMP9517_Lab_04/conda-meta/
COMP9517_LABS/COMP9517_Lab_04/DLLs/
COMP9517_LABS/COMP9517_Lab_04/include/
COMP9517_LABS/COMP9517_Lab_04/Lib
COMP9517_LABS/COMP9517_Lab_04/Library
COMP9517_LABS/COMP9517_Lab_04/libs/
COMP9517_LABS/COMP9517_Lab_04/Menu/
COMP9517_LABS/COMP9517_Lab_04/Scripts/
COMP9517_LABS/COMP9517_Lab_04/share/
COMP9517_LABS/COMP9517_Lab_04/tcl/
COMP9517_LABS/COMP9517_Lab_04/Tools/
COMP9517_LABS/COMP9517_Lab_04/LICENSE_PYTHON.txt
COMP9517_LABS/COMP9517_Lab_04/python.exe
COMP9517_LABS/COMP9517_Lab_04/python.pdb
COMP9517_LABS/COMP9517_Lab_04/python37.pdb
COMP9517_LABS/COMP9517_Lab_04/pythonw.exe
COMP9517_LABS/COMP9517_Lab_04/pythonw.pdb
COMP9517_LABS/COMP9517_Lab_04/venvlauncher.exe
COMP9517_LABS/COMP9517_Lab_04/venvwlauncher.exe
COMP9517_LABS/COMP9517_Lab_04/.ipynb_checkpoints/
COMP9517_LABS/COMP9517_Lab_04/COMP9517_Lab3_z5235652.zip
COMP9517_LABS/COMP9517_Lab_04/qt.conf
COMP9517_LABS/COMP9517_Lab_04/sip/
COMP9517_LABS/COMP9517_Lab_04/.ipynb_checkpoints
COMP9517_LABS/COMP9517_Lab_04/Lab_4.zip
COMP9517_LABS/COMP9517_Lab_04/Lab4_images.zip
COMP9517_Project/*.dll
COMP9517_Project/.nonadmin
COMP9517_Project/conda-meta/
COMP9517_Project/DLLs/
COMP9517_Project/include/
COMP9517_Project/Lib/
COMP9517_Project/Library/
COMP9517_Project/libs/
COMP9517_Project/Menu/
COMP9517_Project/Scripts/
COMP9517_Project/share/
COMP9517_Project/sip/
COMP9517_Project/tcl/
COMP9517_Project/Tools/
COMP9517_Project/venvwlauncher.exe
COMP9517_Project/venvlauncher.exe
COMP9517_Project/qt.conf
COMP9517_Project/pythonw.pdb
COMP9517_Project/pythonw.exe
COMP9517_Project/python37.pdb
COMP9517_Project/python.pdb
COMP9517_Project/python.exe
COMP9517_Project/LICENSE_PYTHON.txt
COMP9517_Project/etc/
COMP9517_Project/.ipynb_checkpoints/
COMP9517_Project/benchmark_velocity_supp.zip
COMP9517_Project/benchmark_velocity_test.zip
COMP9517_Project/benchmark_velocity_train.zip
COMP9517_Project/Code.zip
COMP9517_Project/COMP9517_Individual_Part/Data/COMP_9517_Project__Annotations/images/*.jpg
COMP9517_Project/COMP9517_Individual_Part/Data/COMP_9517_Project__Annotations/images/images.sa
COMP9517_Project/COMP9517_Individual_Part/Data/COMP_9517_Project__Annotations/images/thumb/

#### GROUP PROJECT FILES
COMP9517_Project/coco.names
COMP9517_Project/COMP9517_Individual_Part/Data/COMP_9517_Project__Annotations/
COMP9517_Project/COMP9517_Project_Report_z5235652.pdf
COMP9517_Project/Data/
COMP9517_Project/Hog features.ipynb
COMP9517_Project/Untitled.ipynb
COMP9517_Project/Untitled1.ipynb
COMP9517_Project/YOLO implementation.ipynb
COMP9517_Project/YOLO_bboxes3bU_latest_presentation.ipynb
COMP9517_Project/yolo_implementation_uttkarsh.ipynb
COMP9517_Project/yolov3.cfg
COMP9517_Project/yolov3.weights
COMP9517_Project/pred.csv
COMP9517_Project/pred_eval.csv
COMP9517_Project/X_input.csv
COMP9517_Project/Y_input.csv
